<p-dialog [showHeader]="true" [(visible)]="display" (onHide)="hideDialog()" [modal]="true"
          [resizable]="false" [header]="getHeader() | async" styleClass="activities"
          [style]="{'width': '98vw', 'max-width': '800px', 'max-height': '99vh'}">
    <form [formGroup]="form" *ngIf="form" class="p-col-12 p-col-nopad" (ngSubmit)="saveAndClose()">

        <p-tabView [(activeIndex)]="activeTab">
            <p-tabPanel header="{{ 'ANIMALS.TABS.Data' | translate }}">
                <admin-activity-detail-data [form]="form" [readonlyType]="readonlyType" [aliasInUse]="aliasInUse"
                                            (onChangeType)="changeActivityType($event)"
                                            *ngIf="activeTab == 0"></admin-activity-detail-data>
            </p-tabPanel>
            <p-tabPanel header="{{ 'ANIMALS.TABS.Photos' | translate }}">
                <admin-activity-detail-photos [form]="form" *ngIf="activeTab == 1"></admin-activity-detail-photos>
            </p-tabPanel>
        </p-tabView>

        <div class="p-dialog-buttonpane p-helper-clearfix">
            <button pButton type="button" label="{{'COMMON.BUTTONS.Cancel' | translate}}" icon="pi pi-times"
                    class="button-cancel"
                    (click)="cancel()"></button>

            <button pButton type="button" (click)="save()" *ngIf="form.get('type').value === ActivityType.ADOPTION"
                    label="{{'COMMON.BUTTONS.Save' | translate}}" icon="pi pi-save">
            </button>

            <button pButton type="button" label="{{'COMMON.BUTTONS.DownloadContract' | translate}}" icon="pi pi-download"
                    *ngIf="form.get('type').value === ActivityType.ADOPTION"
                    [disabled]="!this.form.get('id').value"
                    (click)="downloadAdoptionContract()"></button>

            <button pButton type="submit" label="{{'COMMON.BUTTONS.SaveClose' | translate}}" icon="pi pi-save"
                    class="p-button-secondary"></button>
        </div>
    </form>
</p-dialog>

<admin-block-ui-on-loading-request [service]="activityService"></admin-block-ui-on-loading-request>
