<div class="p-col-12 p-grid">
    <div class="card">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-col-12">
                <button pButton type="button" label="{{'REPORTS.GenerateReport5' | translate}}" icon="pi pi-download"
                        (click)="downloadColoniesReportExcel()"></button>

                <button pButton type="button" label="{{'REPORTS.GenerateReport4' | translate}}" icon="pi pi-download"
                        (click)="downloadColoniesReport()"></button>
            </div>
        </div>
    </div>
</div>

<div class="p-col-12 p-grid">
    <div class="card">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-col-12">
            <admin-date [field]="form.get('from')" message="REPORTS.From"
                        class="p-col-12 p-lg-4"></admin-date>

            <admin-date [field]="form.get('to')" message="REPORTS.To"
                        class="p-col-12 p-lg-4"></admin-date>
          </div>
          <div class="p-col-12">
            <button pButton type="button" label="{{'REPORTS.GenerateReport2' | translate}}" icon="pi pi-download"
                    (click)="downloadActivitiesReport()"></button>

              <button pButton type="button" label="{{'REPORTS.GenerateReport1' | translate}}" icon="pi pi-download"
                      (click)="downloadAccountsReport()"></button>
          </div>
        </div>
    </div>
</div>

<div class="p-col-12 p-grid">
    <div class="card">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-col-12">
                <admin-input-text [field]="form.get('invoiceRef')" message="REPORTS.InvoiceRef"
                                  class="p-col-12 p-lg-4"></admin-input-text>
            </div>
            <div class="p-col-12">
                <button pButton type="button" label="{{'REPORTS.GenerateReport3' | translate}}" icon="pi pi-download"
                        (click)="downloadCastrationsEmail()"></button>
            </div>
        </div>
    </div>
</div>

<p-blockUI [blocked]="generatingReport">
</p-blockUI>
<p-progressSpinner *ngIf="generatingReport"></p-progressSpinner>
