<div class="p-field {{ field.disabled ? 'disabled' : ''}}">
  <label>{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>
  <div class="p-col-12">
    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      <ng-container *ngIf="!multiselect">
      {{ field.value | appEnum: enumClass | async }}
      </ng-container>
      <ng-container *ngIf="multiselect">
      {{ multipleValue }}
      </ng-container>
    </span>
    <ng-container *ngIf="!readonly">
      <admin-enum-dropdown [field]="field" [enumClass]="enumClass"
                         (onChange)="onChange.emit($event)" [multiselect]="multiselect"
                         [displayChooseMessage]="displayChooseMessage" [limitedAvailableValues]="limitedAvailableValues"
      ></admin-enum-dropdown>
      <admin-validation-message [control]="field"></admin-validation-message>
    </ng-container>
  </div>
</div>
