<div class="p-field {{ field.disabled ? 'disabled' : ''}}">
    <label *ngIf="message">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

    <span class="readonly-input" *ngIf="readonly">
      {{ field.value }}
    </span>

    <textarea *ngIf="!readonly" [formControl]="field" [rows]="rows" pInputTextarea
              autosize placeholder="{{ placeholder ? (placeholder | translate) : '' }}"
              [attr.maxlength]="maxLength"
              style="overflow:hidden"></textarea>
    <admin-validation-message [control]="field"></admin-validation-message>
</div>
