<div class="layout-topbar">

    <a routerLink="/" *ngIf="app.isHorizontal() && !app.isMobile()" class="topbar-logo">
        <!--img alt="logo" src="assets/layout/images/logo-slim.png" />
        <span class="app-name">SERENITY</span-->
    </a>

    <!--img alt="logo" src="assets/layout/images/logo-slim.png" class="mobile-logo"/-->

    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMobileMenuButtonClick($event)">
        <i class="pi pi-user"></i>
    </a>

    <div class="layout-topbar-menu-wrapper">
        <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}"
            (click)="app.onTopbarMenuClick($event)">


            <li #profile *ngIf="user" class="profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}"
                (click)="app.onTopbarRootItemClick($event, profile)">

                <a href="#">
                    <i class="pi pi-user"></i>
                    <span class="topbar-item-name profile-name">{{ user.name}}&nbsp;{{ user.lastName}}</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#" (click)="showUserInfo()">
                            <i class="pi pi-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="javascript:;" (click)="this.logout()">
                            <i class="pi pi-power-off"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<admin-user-detail [data]="user" [(display)]="displayProfile" *ngIf="displayProfile"></admin-user-detail>
