<ng-container *ngIf="!readonly">

  <ng-container *ngIf="!multiselect">
    <p-dropdown #basicDropdown *ngIf="!field && displayChooseMessage" [options]="items" [editable]="editable"
                [placeholder]="chooseMessage" [showClear]="true" [style]="{ 'width': '100%' }"
                [(ngModel)]="value" appendTo="body" (onChange)="change($event.value)"></p-dropdown>

    <p-dropdown #basicDropdown *ngIf="!field && !displayChooseMessage" [options]="items" [editable]="editable"
                [(ngModel)]="value" appendTo="body" (onChange)="change($event.value)"></p-dropdown>

    <p-dropdown #basicDropdown *ngIf="field && displayChooseMessage" [placeholder]="chooseMessage" [style]="{ 'width': '100%' }"
                [editable]="editable" [showClear]="true" [options]="items" [formControl]="field"
                appendTo="body" (onChange)="change($event.value)"></p-dropdown>

    <p-dropdown #basicDropdown *ngIf="field && !displayChooseMessage" [options]="items" [formControl]="field" [style]="{ 'width': '100%' }"
                [editable]="editable" appendTo="body" (onChange)="change($event.value)"></p-dropdown>
  </ng-container>
  <ng-container *ngIf="multiselect">
    <div *ngIf="field">
      <p-multiSelect #basicMultiselect [options]="items" [formControl]="field" [maxSelectedLabels]="maxSelectedLabels" [selectedItemsLabel]="selectedItemsLabel"
                     appendTo="body" (onChange)="changeValue($event.value)"
                     [defaultLabel]="multiSelectMessage"></p-multiSelect>
    </div>

    <div *ngIf="!field">
      <p-multiSelect #basicMultiselect [options]="items" [(ngModel)]="value" [maxSelectedLabels]="maxSelectedLabels" [selectedItemsLabel]="selectedItemsLabel"
                     appendTo="body" (onChange)="onChange.emit($event.value)"
                     [defaultLabel]="multiSelectMessage"></p-multiSelect>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="readonly">
  {{ selectedValueLabel() }}
</ng-container>
