<p-table #table [columns]="columns" [value]="value" [rows]="rows" [resizableColumns]="true"
         styleClass="app-table p-datatable-gridlines p-datatable-striped p-datatable-sm"
         [selectionMode]="selectionMode === undefined ? null : selectionMode" [selection]="selected"
         [dataKey]="dataKey" [sortField]="sortField" [sortOrder]="sortOrder ? sortOrder : null"
         (selectionChange)="selected = $event; onSelect.emit(selected)"
         [totalRecords]="totalRecords" [lazy]="lazy" (onLazyLoad)="onLazyLoad.emit($event)"

         [paginator]="paginator" [rowsPerPageOptions]="rowsPerPageOptions">
    <ng-template pTemplate="caption">
        <div class="ui-g ui-fluid" *ngIf="withGlobalFilter">
            <div class="ui-inputgroup p-col-2">
          <span class="md-inputfield">
              <input type="text" pInputText (input)="table.filterGlobal($event.target.value, 'contains')">
              <label>{{ 'COMMON.TABLE.GlobalFilterPlaceholder' | translate }}</label>
          </span>
                <button pButton type="button" icon="ui-icon-search"></button>
            </div>
            <ng-template *ngTemplateOutlet="extraCaption"></ng-template>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <th *ngIf="col.sortable === false" (mouseenter)="showTooltipHeader($event.target, col)" pResizableColumn
                    [width]="col.width !== undefined ? col.width : null"
                    [class]="col.class !== undefined ? col.class : null">
                    <span *ngIf="col.abbr">{{ col.header + '.abbr' | translate }}</span>
                    <span *ngIf="!col.abbr">{{ col.header | translate }}</span>
                </th>

                <th *ngIf="col.sortable === true || col.sortable === undefined"
                    (mouseenter)="showTooltipHeader($event.target, col)" pResizableColumn
                    [pSortableColumn]="col.sortField ? col.sortField : col.field" [width]="col.width !== undefined ? col.width : null"
                    [class]="col.class !== undefined ? col.class : null">
                    <ng-container *ngIf="col.type !== TableColumType.CHECKBOX">
                        <span *ngIf="col.abbr">{{ col.header + '.abbr' | translate }}</span>
                        <span *ngIf="!col.abbr">{{ col.header | translate }}</span>
                        <p-sortIcon [field]="col.sortField ? col.sortField : col.field"></p-sortIcon>
                    </ng-container>
                    <ng-container *ngIf="col.type === TableColumType.CHECKBOX">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </ng-container>
                </th>
            </ng-container>
        </tr>
        <ng-container *ngTemplateOutlet="filterBar"></ng-container>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="countVisibleColumns()">
                {{ 'COMMON.TABLE.EmptyMessage' | translate }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-columns="columns">
        <tr [pSelectableRow]="row" class="ui-resizable-column" (dblclick)="onEdit.emit(row)">
            <ng-container *ngTemplateOutlet="rowData; context: {row: row, columns: columns}"></ng-container>
        </tr>
    </ng-template>
    <ng-template #rowData let-row="row" let-index="rowIndex" let-columns="columns">
        <td *ngFor="let col of columns" [ngSwitch]="col['type']" [className]="col['type']" (mouseenter)="showTooltip($event.target)">
            <ng-container *ngIf="col.type === TableColumType.CHECKBOX">
                <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </ng-container>
            <ng-container *ngIf="col.type !== TableColumType.CHECKBOX && get(row, col['field']) as value">
                <ng-container *ngSwitchCase="TableColumType.DATE">{{ value | appDate }}</ng-container>
                <ng-container *ngSwitchCase="TableColumType.DATE_MEMBER">
                    <span [innerHTML]="get(row, col['field']) | appDateMember"></span>
                </ng-container>

                <ng-container *ngSwitchCase="TableColumType.DATETIME">{{ value | appDateTime }}</ng-container>
                <ng-container *ngSwitchCase="TableColumType.BOOLEAN">
                    <div *ngIf="value" class="center-text">
                        <i class="pi pi-check"></i>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.IMAGE">
                    <img src="{{ value }}">
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.MAP">
                    <i class="pi pi-map-marker" (click)="viewNewWindow(value)"></i>
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.ENUM">{{ value | appEnum: col['enumClass'] | async }}
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.ENUM_ARRAY">
                    <ng-container *ngFor="let item of value; let first = first">
                        <ng-container *ngIf="!first">,&nbsp;</ng-container>
                        {{ item | appEnum: col['enumClass'] | async }}
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.PERCENTAGE">{{ (get(row, col['field']) * 100) | number:'1.2-2' }}%
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.NUMBER">{{ get(row, col['field']) | number: '1.2-2': 'es'}}
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.CASH">{{ get(row, col['field']) | currency:'EUR': 'symbol': '1.2-2': 'es'}}
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.BANK">
                    <span [innerHTML]="get(row, col['field']) | appBankMovement"></span>
                </ng-container>
                <ng-container *ngSwitchCase="TableColumType.PHOTO">
                    <!-- (click)="showPhoto($event, col['field'], opPhoto)" -->
                    <img class="peq-img" src="{{ get(row, col['field']) }}">
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <ng-container *ngIf="!col.hasHtmlContent">
                        {{ col.rowToLabelConverter ? (col.rowToLabelConverter(row) | async) : get(row, col['field']) }}
                    </ng-container>
                    <ng-container *ngIf="col.hasHtmlContent">
            <span (click)="col.onClick(row)"
                  [innerHtml]="col.rowToLabelConverter ? (col.rowToLabelConverter(row) | async) : get(row, col['field'])"></span>
                    </ng-container>
                </ng-container>

            </ng-container>
        </td>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state *ngIf="withButtons">
        <button type="button" *ngIf="withReloadButton" pButton icon="ui-icon-refresh" [title]="'COMMON.TABLE.Reload' | translate"
                (click)="onReload.emit(selected)"></button>
        <ng-template *ngTemplateOutlet="extraButtons"></ng-template>

        <button *ngIf="withAddButton" type="button" pButton icon="pi pi-plus" (click)="onAdd.emit()"
                [disabled]="addDisabled"></button>

        <button type="button" *ngIf="withEditButton" pButton icon="pi pi-pencil" (click)="onEdit.emit(selected)"
                [disabled]="!selected"></button>

        <admin-delete-tooltip [entity]="selected" *ngIf="withDeleteButton">
            <button type="button" pButton icon="pi pi-trash" (click)="onDelete.emit(selected)"
                    [disabled]="!selected || selected?.operationsInfo?.delete.allowed === false"></button>
        </admin-delete-tooltip>

    </ng-template>
    <ng-template pTemplate="paginatorright" let-state>
        {{ 'COMMON.TABLE.PaginationLabel' | translate: {
        first: state.first + 1, last: state.rows, total: state.totalRecords
    } }}
    </ng-template>
</p-table>

<p-overlayPanel #opPhoto>
    <img [src]="urlPhoto" *ngIf="urlPhoto">
</p-overlayPanel>
