<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive, 'layout-sidebar-dark': app.darkMenu}"
    (click)="app.onSidebarClick($event)" (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo">
        <a routerLink="/dashboard">
            <img alt="logo" src="assets/layout/images/logo-admin.png" />
            <span class="app-name">Secretaría</span>
        </a>
        <a href="#" class="sidebar-anchor" title="{{ 'TOPBAR.ToggleMenu' | translate }}" (click)="app.onToggleMenuClick($event)">
            <i class="pi pi-lock"></i>
        </a>
    </div>

    <p-scrollPanel #scrollPanel [style]="{height: '100%'}">
        <ul submenu [item]="model" root="true" class="layout-menu" visible="true" [reset]="reset" parentActive="true"></ul>
    </p-scrollPanel>

</div>
