<p-dialog [showHeader]="true" [(visible)]="display" (onHide)="hideDialog()" [modal]="true"
          [resizable]="false" [header]="getHeader() | async" appendTo="body" styleClass="colonies"
          [style]="{'width': '98vw', 'max-width': '500px', 'max-height': '99vh'}">
    <form [formGroup]="form" *ngIf="form" class="p-col-12 p-col-nopad" (ngSubmit)="saveAndClose()" novalidate>

        <p-tabView [(activeIndex)]="activeTab">
            <p-tabPanel header="{{ 'TRAPS.TABS.Data' | translate }}">
                <admin-trap-detail-data [aliasInUse]="aliasInUse" [form]="form"
                                          *ngIf="activeTab == 0"></admin-trap-detail-data>
            </p-tabPanel>
            <p-tabPanel header="{{ 'TRAPS.TABS.Photos' | translate }}">
                <admin-trap-detail-photos [form]="form" *ngIf="activeTab == 1"></admin-trap-detail-photos>
            </p-tabPanel>
        </p-tabView>

        <div class="p-dialog-buttonpane p-helper-clearfix">
            <button pButton type="button" label="{{'COMMON.BUTTONS.Cancel' | translate}}" icon="pi pi-times" class="button-cancel" (click)="cancel()"></button>

            <button pButton type="submit" label="{{'COMMON.BUTTONS.SaveClose' | translate}}" icon="pi pi-times" class="p-button-secondary"></button>
        </div>
    </form>
</p-dialog>


<admin-block-ui-on-loading-request [service]="trapService"></admin-block-ui-on-loading-request>
