<div class="p-field {{ field.disabled ? 'disabled' : ''}}">
    <label>{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      <ng-container *ngIf="!showTime">{{ field.value | appDate }}</ng-container>
      <ng-container *ngIf="showTime">{{ field.value | appDateTime }}</ng-container>
    </span>

    <p-calendar [formControl]="field" (onSelect)="onChange.emit($event)" dateFormat="dd/mm/yy" [showTime]="showTime" [showSeconds]="false"
                [locale]="es" (onBlur)="onChange.emit($event.value)" [showIcon]="true" appendTo="body"></p-calendar>

    <admin-validation-message [control]="field"></admin-validation-message>
</div>
