<div class="p-grid dashboard">
    <div class="p-col-12 p-grid buttons">
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewCastration' | translate }}"
                      (click)="showNewCastration()"
                      icon="pi pi-shield" styleClass="p-button-lg p-button-success"></p-button>
        </div>
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewVisitClinic' | translate }}"
                      (click)="showNewVisitClinic()" icon="pi pi-eye" styleClass="p-button-lg p-button-warning"></p-button>
        </div>
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewAdoption' | translate }}"
                      (click)="showNewAdoption()" icon="pi pi-heart" styleClass="p-button-lg p-button-help"></p-button>
        </div>
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewOther' | translate }}"
                      (click)="showNewOther()" icon="pi pi-pencil" styleClass="p-button-lg p-button-info"></p-button>
        </div>
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewBuySupplies' | translate }}"
                      (click)="showNewBuySupplies()" icon="pi pi-shopping-cart" styleClass="p-button-lg"></p-button>
        </div>
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewMember' | translate }}"
                      (click)="showNewMember()" icon="pi pi-user-plus" styleClass="p-button-lg"></p-button>
        </div>
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewRescue' | translate }}"
                      (click)="showNewRescue()" icon="pi pi-exclamation-triangle" styleClass="p-button-lg p-button-danger"></p-button>
        </div>
        <div class="p-col-6 p-lg-3">
            <p-button label="{{'DASHBOARD.NewPickUp' | translate }}"
                      (click)="showNewPickUpKeeper()" icon="pi pi-home" styleClass="p-button-lg"></p-button>
        </div>
    </div>


    <div class="p-col-12 p-grid" *ngIf="user.admin">

        <div class="card" *ngIf="user.admin">
            <h3>{{'DATA_LOADER.Title' | translate }}</h3>

            <div class="p-col-12 nopad">
                <p-fileUpload (uploadHandler)="handleUpload($event, fileUpload)"
                              (onSelect)="selectFile($event, fileUpload)"
                              customUpload="true" #fileUpload></p-fileUpload>
                <ng-container *ngIf="uploadFile">
                    <p-progressBar *ngIf="uploadFile.progress && (uploadFile.progress >= 0 && uploadFile.progress < 100)" [value]="uploadFile.progress">
                    </p-progressBar>
                </ng-container>
            </div>

            <form [formGroup]="form" class="p-col-12">

                <div class="p-col-12">
                    <admin-input-text [field]="form.get('type')"
                                      message="DATA_LOADER.Type" [maxLength]="100" [uiSize]="12"></admin-input-text>
                </div>
                <div class="p-col-12">
                    <admin-input-text [field]="form.get('value')"
                                      message="DATA_LOADER.Value" [maxLength]="100" [uiSize]="12"></admin-input-text>
                </div>
                <div class="p-col-12">
                    <admin-input-text [field]="form.get('path')"
                                      message="DATA_LOADER.Path" [maxLength]="100" [uiSize]="12"></admin-input-text>
                </div>

                <div class="p-dialog-buttonpane p-helper-clearfix">
                    <button pButton type="button" (click)="loadData()" label="{{ 'DATA_LOADER.Load' | translate }}"
                            icon="p-icon-save"></button>
                </div>
                <div class="p-col-12" *ngIf="dataLoaderResponse">
                    <div class="p-col-12">{{ 'DATA_LOADER.Total' | translate }}: {{ dataLoaderResponse.total }}</div>
                    <div class="p-col-12"
                         *ngIf="dataLoaderResponse.errors.length > 0">{{ 'DATA_LOADER.Errors' | translate }}</div>
                    <div class="p-col-12" *ngFor="let error of dataLoaderResponse.errors">
                        {{ error.numLine }}: {{ error.message }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<admin-activity-detail [data]="newActivity" [(display)]="dialogNewActivityIsShown" *ngIf="dialogNewActivityIsShown"
                       (successDialog)="newActivityCreated($event)"></admin-activity-detail>

<p-blockUI [blocked]="uploadFile">
</p-blockUI>
<p-progressSpinner *ngIf="uploadFile"></p-progressSpinner>

<admin-block-ui-on-loading-request [service]="dataLoaderService"></admin-block-ui-on-loading-request>
