.card {
  width: 1050px;
}

.ui-dialog-buttonpane button.ui-button {
  width: auto;
}

.ui-dialog-buttonpane {
  text-align: right;
}

.buttons div {
  text-align: center;
  margin: auto;
  padding: 5px;
}