<admin-global-message></admin-global-message>
<admin-confirm-dialog></admin-confirm-dialog>


<div class="layout-wrapper" (click)="onWrapperClick()"
     [ngClass]="{'layout-wrapper-static': layoutMode === 'static',
                'layout-wrapper-active': mobileMenuActive,
                'layout-menu-horizontal': layoutMode === 'horizontal',
                'layout-rtl': isRTL, 'p-ripple-disabled': !ripple, 'p-input-filled': inputStyle === 'filled'}">

    <admin-menu *ngIf="isAuthenticated" [reset]="resetMenu"></admin-menu>

    <div class="layout-main">
        <admin-topbar *ngIf="isAuthenticated"></admin-topbar>

        <admin-breadcrumb *ngIf="isAuthenticated"></admin-breadcrumb>

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <admin-footer *ngIf="isAuthenticated"></admin-footer>
        <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
    </div>
</div>

