<div class="p-col-12 p-lg-{{ uiSize }}">
  <label *ngIf="message" class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

  <div class="form-input {{ field.disabled ? 'disabled' : ''}}">
    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      TODO
    </span>

    <p-chips [formControl]="field"></p-chips>

    <admin-validation-message *ngIf="withMessage" [control]="field"></admin-validation-message>
  </div>
</div>
