<admin-setting-list [columns]="columns" [value]="entities"
                  [totalRecords]="totalRecords" (onLazyLoad)="paginate($event)"
                  [sortField]="sortField" [sortOrder]="sortOrder" [filters]="filters"
                  (onAdd)="showAddDialog()" (onEdit)="showEditDialog($event)"
                  [sortField]="sortField" [sortOrder]="sortOrder"
                  (onDelete)="delete($event, $event['username'])">
</admin-setting-list>



<admin-user-detail [data]="detailEntity" [(display)]="dialogIsShown" *ngIf="dialogIsShown"
                  (successDialog)="refreshData()"></admin-user-detail>
