<div class="login-panel p-fluid" *ngIf="form">
    <form (ngSubmit)="submit()">
        <div class="login-panel-content">
            <div class="p-grid">
                <div class="p-col-12 center" *ngIf="errorLogin">
                    <p-message severity="error" text="{{ 'LOGIN.Error' | translate }}"></p-message>
                </div>
                <div class="p-col-12">
                    <label>{{ 'LOGIN.User' | translate }}</label>
                    <input pInputText type="text" autocomplete="off" [formControl]="form.get('username')"
                           class="p-inputtext p-corner-all">
                </div>
                <div class="p-col-12">
                    <label>{{ 'LOGIN.Password' | translate }}</label>
                    <input type="password" pInputText autocomplete="off" [formControl]="form.get('password')"
                           class="p-inputtext p-corner-all">
                </div>
                <div class="p-col-12 center">
                    <button pButton type="submit" label="{{ 'LOGIN.SignIn' | translate }}" icon="pi pi-user"></button>
                </div>
            </div>
        </div>
    </form>
</div>

<admin-block-ui-on-loading-request [service]="authService"></admin-block-ui-on-loading-request>

