:host {
}

.p-col-12 {
  text-align: left;
}

label {
  text-transform: uppercase;
  color: #757575;
  font-size: 80%;
}

input {
  margin-top: 5px;
}

.p-col-12.center {
  text-align: center;
}

.login-panel {
  width: 300px;
  margin: auto;
}
