<p-dialog [showHeader]="true" [(visible)]="display" (onHide)="hideDialog()" [modal]="true"
          [resizable]="false" [header]="getHeader() | async" styleClass="persons" appendTo="body"
          [style]="{'width': '98vw', 'max-width': '750px', 'max-height': '99vh'}">
    <form [formGroup]="form" class="p-col-12 p-col-nopad" (ngSubmit)="saveAndClose()" *ngIf="form">

        <p-tabView [(activeIndex)]="activeTab">
            <p-tabPanel header="{{ 'PERSONS.TABS.Data' | translate }}">
                <admin-person-detail-data [aliasInUse]="aliasInUse" [form]="form"
                                          *ngIf="activeTab == 0"></admin-person-detail-data>
            </p-tabPanel>

            <p-tabPanel header="{{ 'LOCATION.Address' | translate }}">
                <admin-common-location-data [form]="form.get('location')" *ngIf="activeTab == 1"></admin-common-location-data>
            </p-tabPanel>

            <p-tabPanel header="{{ 'PERSONS.TABS.Photos' | translate }}">
                <admin-person-detail-photos [form]="form" *ngIf="activeTab == 2"></admin-person-detail-photos>
            </p-tabPanel>
        </p-tabView>

        <div class="p-dialog-buttonpane p-helper-clearfix">
            <button pButton type="button" label="{{'COMMON.BUTTONS.Cancel' | translate}}" icon="pi pi-times" class="button-cancel" (click)="cancel()"></button>

            <button pButton type="submit" label="{{'COMMON.BUTTONS.SaveClose' | translate}}" icon="pi pi-save"
                    class="p-button-secondary"></button>
        </div>
    </form>
</p-dialog>

<admin-block-ui-on-loading-request [service]="personService"></admin-block-ui-on-loading-request>
