<div class="p-fluid p-formgrid p-grid" *ngIf="form">

    <admin-label-enum-dropdown class="p-col-12 p-lg-4" message="COMMON.LABELS.Type" enumClass="ActivityType" [field]="form.get('type')"
                               (onChange)="changeActivityType($event)"
                               [readonly]="this.readonly || this.form.get('id').value || this.readonlyType" [displayChooseMessage]="false"></admin-label-enum-dropdown>

    <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('person')" message="ACTIVITIES.Person"></admin-person-picker>

    <admin-date class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('date')"
                message="ACTIVITIES.Date"></admin-date>


    <ng-container [ngSwitch]="form.get('type').value">
        <ng-container *ngSwitchCase="ActivityType.ADOPTION">
            <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('adopter')"
                                 message="ANIMALS.Adopter"></admin-person-picker>

            <admin-animal-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('animal')" message="ANIMALS.Cat"></admin-animal-picker>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.BUY_SUPPLIES">
            <admin-place-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('place')" message="PLACES.Title"></admin-place-picker>

            <admin-label-enum-dropdown class="p-col-12 p-lg-4" message="ACTIVITIES.PaymentType" enumClass="PaymentType" [field]="form.get('paymentType')"
                                       [readonly]="this.readonly" [displayChooseMessage]="true"></admin-label-enum-dropdown>

        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.PICKUP_KEEPER">
            <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('keeper')"
                                 message="ANIMALS.Keeper"></admin-person-picker>

            <admin-animal-picker class="p-col-12 p-lg-8" [multiple]="true" [readonly]="readonly" [fieldMultiple]="form.get('animals')"
                                 message="ACTIVITIES.Animals"></admin-animal-picker>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.CASTRATION">
            <admin-animal-picker class="p-col-12 p-lg-3" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('animal')" message="ANIMALS.Cat"></admin-animal-picker>

            <admin-colony-picker class="p-col-12 p-lg-3" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('colony')" message="ACTIVITIES.Colony"></admin-colony-picker>

            <admin-place-picker class="p-col-12 p-lg-3" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('vetClinic')"
                                message="PLACES.VetClinic"></admin-place-picker>

            <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="ACTIVITIES.PaymentType" enumClass="PaymentType" [field]="form.get('paymentType')"
                                       [readonly]="this.readonly" [displayChooseMessage]="true"></admin-label-enum-dropdown>

        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.VISIT_CLINIC">
            <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="ACTIVITIES.VisitClinicType" enumClass="VisitClinicType" [field]="form.get('visitClinicType')"
                                       [readonly]="this.readonly" [displayChooseMessage]="true"></admin-label-enum-dropdown>

            <admin-place-picker class="p-col-12 p-lg-3" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('vetClinic')"
                                message="PLACES.VetClinic"></admin-place-picker>

            <admin-animal-picker class="p-col-12 p-lg-3" [multiple]="true" [readonly]="readonly" [fieldMultiple]="form.get('animals')"
                                 message="ACTIVITIES.Animals"></admin-animal-picker>

            <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="ACTIVITIES.PaymentType" enumClass="PaymentType" [field]="form.get('paymentType')"
                                       [readonly]="this.readonly" [displayChooseMessage]="true"></admin-label-enum-dropdown>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.RESCUE">
            <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('caller')"
                                 message="ACTIVITIES.Caller"></admin-person-picker>

            <admin-animal-picker class="p-col-12 p-lg-8" [multiple]="true" [readonly]="readonly" [fieldMultiple]="form.get('animals')"
                                 message="ACTIVITIES.Animals"></admin-animal-picker>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.NEW_MEMBER">
            <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('newMember')"
                                 message="ACTIVITIES.NewMember"></admin-person-picker>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.MEETING">
            <admin-person-picker class="p-col-12 p-lg-12" [multiple]="true" [readonly]="readonly" [fieldMultiple]="form.get('persons')"
                                 message="ACTIVITIES.Participants"></admin-person-picker>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityType.OTHER">

        </ng-container>


    </ng-container>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('alias')"
                      message="COMMON.LABELS.Alias" [maxLength]="2000"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" *ngIf="form.get('chip')" [field]="form.get('chip')"
                      message="ACTIVITIES.Chip" [maxLength]="100"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" *ngIf="form.get('invoiceRef')" [field]="form.get('invoiceRef')"
                      message="ACTIVITIES.InvoiceRef" [maxLength]="100"></admin-input-text>

    <admin-message class="p-col-12 alias-in-use" *ngIf="aliasInUse" [display]="true"
                   severity="error" [message]="'COMMON.VALIDATION.UserInUse' | translate"></admin-message>

    <admin-textarea class="p-col-12 p-lg-10" [readonly]="readonly" [field]="form.get('notes')" message="COMMON.LABELS.Notes"></admin-textarea>

    <admin-checkbox *ngIf="form.get('id').value" class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('markToDelete')"
                    message="COMMON.LABELS.MarkToDelete"></admin-checkbox>
</div>
