<div class="p-field {{ field.disabled ? 'disabled' : ''}}">
    <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      {{ field.value }}
    </span>

    <p-autoComplete *ngIf="!readonly" [class]="class != '' ? class : null" [forceSelection]="true" #autocompleteElement
                    [(ngModel)]="municipality" [delay]="100" [suggestions]="municipalities" (onClear)="clear()"
                    (onSelect)="municipalitySelected($event)" (onFocus)="focusComponent()" field="label" appendTo="body"
                    (completeMethod)="searchMunicipalities($event)" [minLength]="1"></p-autoComplete>
    <admin-validation-message [control]="field"></admin-validation-message>

</div>