<div class="p-fluid p-formgrid p-grid" *ngIf="form">
    <admin-input-text class="p-col-12 p-lg-6" [readonly]="readonly" [field]="form.get('name')"
                      message="COMMON.LABELS.Name" [maxLength]="50"></admin-input-text>

    <admin-person-picker class="p-col-12 p-lg-6" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('owner')" message="TRAPS.Owner"></admin-person-picker>

    <admin-person-picker class="p-col-12 p-lg-7" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('person')" message="TRAPS.Person"></admin-person-picker>

    <admin-date class="p-col-12 p-lg-5" [readonly]="readonly" [field]="form.get('usingFrom')"
                message="TRAPS.UsingFrom"></admin-date>

    <admin-textarea class="p-col-12 p-lg-12" [readonly]="readonly" [field]="form.get('notes')" message="COMMON.LABELS.Notes"></admin-textarea>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="true" [field]="form.get('alias')"
                      message="COMMON.LABELS.Alias" [maxLength]="2000"></admin-input-text>

    <admin-checkbox class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('active')" message="COMMON.LABELS.Active"></admin-checkbox>

    <admin-checkbox *ngIf="form.get('id').value" class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('markToDelete')"
                    message="COMMON.LABELS.MarkToDelete"></admin-checkbox>


    <admin-message class="p-col-12 alias-in-use" *ngIf="aliasInUse" [display]="true"
                   severity="error" [message]="'COMMON.VALIDATION.UserInUse' | translate"></admin-message>
</div>