<div class="ui-g ui-fluid">
    <div class="p-col-12">
        <div class="card">
            <!--div class="p-col-12">
              {{ filterValues | json }} //
              {{ filters | json }}
            </div-->
            <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header" [maxSelectedLabels]="0"
                           selectedItemsLabel="{0}{{ 'COMMON.TABLE.SelectedColumns' | translate }}"
                           defaultLabel="{{ 'COMMON.TABLE.ChooseColumns' | translate }}"
                           [style]="{'width': 'auto', 'margin-bottom': '10px'}">
                <ng-template let-col let-i="index" pTemplate="item">
                    {{col.label | translate }}
                </ng-template>

            </p-multiSelect>
            <admin-table #tableList [columns]="selectedColumns" [value]="value" [selectionMode]="selectionMode"
                         (onAdd)="onAdd.emit()" [filters]="filters" [lazy]="true"
                         [rowsPerPageOptions]="rowsPerPageOptions"
                         (onLazyLoad)="onLazyLoad.emit($event)" [withGlobalFilter]="false" [totalRecords]="totalRecords"
                         (onEdit)="onEdit.emit($event)" [sortField]="sortField" [sortOrder]="sortOrder"
                         (onReload)="onReload.emit($event)"
                         [withAddButton]="withAddButton" [withEditButton]="withEditButton" [withDeleteButton]="withDeleteButton"
                         [withReloadButton]="withReloadButton"
                         (onDelete)="onDelete.emit($event)" (onSelect)="select($event)">
                <ng-template #filterBar>
                    <tr>
                        <th *ngFor="let col of selectedColumns" [ngSwitch]="col['type']" style="text-align: center">
                            <ng-container *ngSwitchCase="TableColumType.DATETIME">
                                <i class="material-icons" *ngIf="col['filter'] === true"
                                   (click)="showLocalDateTimeFilter($event, col['field'], true, opLocalDateTime)">date_range</i>
                            </ng-container>
                            <ng-container *ngSwitchCase="TableColumType.DATE">
                                <i class="pi pi-calendar" *ngIf="col['filter'] === true"
                                   (click)="showLocalDateTimeFilter($event, col['field'], false, opLocalDateTime)"></i>
                            </ng-container>
                            <ng-container *ngSwitchCase="TableColumType.DATE_MEMBER">
                                <i class="pi pi-calendar" *ngIf="col['filter'] === true"
                                   (click)="showLocalDateTimeFilter($event, col['field'], false, opLocalDateTime)"></i>
                            </ng-container>
                            <ng-container *ngSwitchCase="TableColumType.BOOLEAN">
                                <p-triStateCheckbox *ngIf="col.filter" [(ngModel)]="filterValues[col.field]"
                                                    (onChange)="tableComponent.table.filter($event.value, col.field, col.filterMatchMode)"></p-triStateCheckbox>
                            </ng-container>
                            <ng-container *ngSwitchCase="TableColumType.USERNAME">
                                <p-autoComplete [(ngModel)]="filterValues[col.field]" [suggestions]="suggestionValues[col.field]" field="username"
                                                [forceSelection]="true" [delay]="100"
                                                (onSelect)="this.filterByUsername(col.filterFields[0], $event)"
                                                (onClear)="this.filterByUsername(col.filterFields[0])"
                                                appendTo="body"
                                                (completeMethod)="findByTypeAndUsernameStartsWith(col.field, $event.query)"></p-autoComplete>
                            </ng-container>

                            <ng-container *ngSwitchCase="TableColumType.PERSON">
                                <p-autoComplete [(ngModel)]="filterValues[col.field]" [suggestions]="suggestionValues[col.field]" field="alias"
                                                [forceSelection]="true" [delay]="100"
                                                (onSelect)="this.filterByPerson(col.filterFields[0], $event)"
                                                (onClear)="this.filterByPerson(col.filterFields[0])"
                                                appendTo="body"
                                                (completeMethod)="findPersonsByAliasStartsWith(col.field, $event.query)">
                                    <ng-template let-item pTemplate="item">
                                        {{item.label}}
                                    </ng-template>
                                </p-autoComplete>
                            </ng-container>

                            <ng-container *ngSwitchCase="TableColumType.ANIMAL">
                                <p-autoComplete [(ngModel)]="filterValues[col.field]" [suggestions]="suggestionValues[col.field]" field="alias"
                                                [forceSelection]="true" [delay]="100"
                                                (onSelect)="this.filterByAnimal(col.filterFields[0], $event)"
                                                (onClear)="this.filterByAnimal(col.filterFields[0])"
                                                appendTo="body"
                                                (completeMethod)="findAnimalsByAliasStartsWith(col.field, $event.query)">
                                    <ng-template let-item pTemplate="item">
                                        {{item.label}}
                                    </ng-template>
                                </p-autoComplete>
                            </ng-container>

                            <ng-container *ngSwitchCase="TableColumType.PLACE">
                                <!--p-autoComplete [(ngModel)]="filterValues[col.field]" [suggestions]="suggestionValues[col.field]" field="alias"
                                                [forceSelection]="true" [delay]="100"
                                                (onSelect)="this.filterByPlace(col.filterFields[0], $event)"
                                                (onClear)="this.filterByPlace(col.filterFields[0])"
                                                appendTo="body"
                                                (completeMethod)="findPlacesByAliasStartsWith(col.field, $event.query)">
                                    <ng-template let-item pTemplate="item">
                                        {{item.label}}
                                    </ng-template>
                                </p-autoComplete-->
                                <admin-list-dropdown [listFunction]="this.getAllPlaces(col.subtype)" *ngIf="col['filter'] === true"
                                                     multiSelectMessage="{{'COMMON.DROPDOWNS.MultiSelectMessageShort' | translate }}"
                                                     selectedItemsLabel="{{'COMMON.DROPDOWNS.SelectedItemsLabelShort' | translate }}"
                                                     (onChange)="tableComponent.table.filter($event, col.filterFields[0], col.filterMatchMode)"
                                                     [multiselect]="true"></admin-list-dropdown>
                            </ng-container>

                            <ng-container *ngSwitchCase="TableColumType.MUNICIPALITY">
                                <p-autoComplete [(ngModel)]="filterValues[col.field]" [suggestions]="suggestionValues[col.field]" field="label"
                                                [forceSelection]="true" [delay]="100"
                                                (onSelect)="this.filterByMunicipality(col.filterFields[0], $event)"
                                                (onClear)="this.filterByMunicipality(col.filterFields[0])"
                                                appendTo="body"
                                                (completeMethod)="findByMunicipalityStartsWith(col.field, $event.query)">

                                </p-autoComplete>
                            </ng-container>

                            <ng-container *ngSwitchCase="TableColumType.AREA">
                                <admin-list-dropdown [listFunction]="this.getAllAreas()" *ngIf="col['filter'] === true"
                                                     multiSelectMessage="{{'COMMON.DROPDOWNS.MultiSelectMessageShort' | translate }}"
                                                     selectedItemsLabel="{{'COMMON.DROPDOWNS.SelectedItemsLabelShort' | translate }}"
                                                     (onChange)="tableComponent.table.filter($event, col.filterFields[0], col.filterMatchMode)"
                                                     [multiselect]="true"></admin-list-dropdown>

                            </ng-container>

                            <ng-container *ngSwitchCase="TableColumType.ENUM">

                                <admin-enum-dropdown [multiselect]="true" [enumClass]="col['enumClass']" [maxSelectedLabels]="0" *ngIf="col['filter'] === true"
                                                     multiSelectMessage="{{'COMMON.DROPDOWNS.MultiSelectMessageShort' | translate }}"
                                                     selectedItemsLabel="{{'COMMON.DROPDOWNS.SelectedItemsLabelShort' | translate }}"
                                                     (onChange)="tableComponent.table.filter($event, col.field, col.filterMatchMode)"></admin-enum-dropdown>
                            </ng-container>

                            <ng-container *ngSwitchCase="TableColumType.ENUM_ARRAY">
                                <admin-enum-dropdown [multiselect]="true" [enumClass]="col['enumClass']" [maxSelectedLabels]="0" *ngIf="col['filter'] === true"
                                                     multiSelectMessage="{{'COMMON.DROPDOWNS.MultiSelectMessageShort' | translate }}"
                                                     selectedItemsLabel="{{'COMMON.DROPDOWNS.SelectedItemsLabelShort' | translate }}"
                                                     (onChange)="tableComponent.table.filter($event, col.field, col.filterMatchMode)"></admin-enum-dropdown>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <ng-container *ngIf="col.filter === true">
                                    <ng-container *ngIf="col.filterFields; else noColFilters">
                                        <input style="width: 100%;" pInputText type="text"
                                               placeholder="{{ 'COMMON.TABLE.FilterPlaceholder' | translate }}"
                                               (input)="tableComponent.table.filter($event.target.value, col.filterFields[0], col.filterMatchMode)">
                                    </ng-container>
                                    <ng-template #noColFilters>
                                        <ng-container *ngIf="col.hasFilterConverter; else noFilterConverter">
                                            TODO
                                        </ng-container>
                                        <ng-template #noFilterConverter>
                                            <input style="width: 100%;" pInputText type="text" [(ngModel)]="filterValues[col.field]"
                                                   placeholder="{{ 'COMMON.TABLE.FilterPlaceholder' | translate }}"
                                                   (input)="tableComponent.table.filter($event.target.value, col.field, col.filterMatchMode)">
                                        </ng-template>
                                    </ng-template>
                                </ng-container>
                            </ng-container>
                        </th>
                    </tr>
                </ng-template>
                <ng-template #extraButtons>
                    <ng-template *ngTemplateOutlet="tableExtraButtons"></ng-template>
                </ng-template>
            </admin-table>
        </div>
    </div>
</div>

<p-overlayPanel #opLocalDateTime appendTo="body" [dismissable]="false"
                [showCloseIcon]="true">
    <div class="p-fluid p-formgrid p-grid dates" *ngIf="this.fieldSelected">
        <div class="p-col-4">
            {{ 'COMMON.LABELS.From' | translate }}
        </div>
        <div class="p-col-8">
            <admin-base-date [showTime]="showTimeSelected" [(ngModel)]="dateFilterValues[fieldSelected][0]" (onSelect)="changeInitDate($event)"></admin-base-date>
        </div>
        <div class="p-col-4">
            {{ 'COMMON.LABELS.To' | translate }}
        </div>
        <div class="p-col-8">
            <admin-base-date [showTime]="showTimeSelected" [(ngModel)]="dateFilterValues[fieldSelected][1]" (onSelect)="changeEndDate($event)"></admin-base-date>
        </div>
    </div>
    <div class="p-col-12">
        <button pButton type="button" label="{{ 'COMMON.BUTTONS.Ok' | translate }}"
                (click)="prepareFilterLocalDateTime(opLocalDateTime)"></button>
    </div>
</p-overlayPanel>
