<div class="p-field">
    <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}
        &nbsp;<span *ngIf="item && item.id" class="span-button" (click)="editItem(item.id)">({{ 'COMMON.LABELS.Edit' | translate }})</span>
        &nbsp;<span class="span-button" (click)="showNewItem()">({{ 'COMMON.LABELS.New' | translate }})</span>
    </label>

    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      {{ field.value }}
    </span>

    <ng-container *ngIf="!readonly && !multiple">

        <p-autoComplete [class]="class != '' ? class : null" [forceSelection]="true" #autocompleteElement
                        [(ngModel)]="item" [delay]="100" [suggestions]="items" (onClear)="clear()" (onUnselect)="itemSelected($event)"
                        (onSelect)="itemSelected($event)" field="alias" appendTo="body"
                        (completeMethod)="searchItems($event)" [minLength]="1">
            <ng-template let-item pTemplate="item">
                {{item.label}}
            </ng-template>
        </p-autoComplete>

        <admin-validation-message class="margin-top-17" [control]="field"></admin-validation-message>
    </ng-container>

    <ng-container *ngIf="!readonly && multiple">

        <p-autoComplete [class]="class != '' ? class : null" [forceSelection]="true" #autocompleteElement
                        [(ngModel)]="itemsSelected" [delay]="100" [suggestions]="items" (onClear)="clear()" [unique]="false"
                        (onSelect)="itemSelected($event)" field="alias" appendTo="body" [multiple]="true" (onUnselect)="itemSelected($event)"
                        (completeMethod)="searchItems($event)" [minLength]="1">
            <ng-template let-item pTemplate="item">
                {{item.label}}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
                <a class="picker-selected" (click)="editItem(item.id)">{{item.alias}}</a>
            </ng-template>
        </p-autoComplete>

        <admin-validation-message class="margin-top-17" [control]="fieldMultiple"></admin-validation-message>

    </ng-container>

</div>


<ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="PickerType.ANIMAL">
        <admin-animal-detail [data]="newItem" [(display)]="dialogNewItemIsShown" *ngIf="dialogNewItemIsShown"
                             (successDialog)="newItemCreated($event)"></admin-animal-detail>
    </ng-container>
    <ng-container *ngSwitchCase="PickerType.PERSON">
        <admin-person-detail [data]="newItem" [(display)]="dialogNewItemIsShown" *ngIf="dialogNewItemIsShown"
                             (successDialog)="newItemCreated($event)"></admin-person-detail>
    </ng-container>
    <ng-container *ngSwitchCase="PickerType.PLACE">
        <admin-place-detail [data]="newItem" [(display)]="dialogNewItemIsShown" *ngIf="dialogNewItemIsShown"
                            (successDialog)="newItemCreated($event)"></admin-place-detail>
    </ng-container>
    <ng-container *ngSwitchCase="PickerType.ACTIVITY">
        <admin-activity-detail [data]="newItem" [(display)]="dialogNewItemIsShown" *ngIf="dialogNewItemIsShown"
                               (successDialog)="newItemCreated($event)"></admin-activity-detail>
    </ng-container>
    <ng-container *ngSwitchCase="PickerType.COLONY">
        <admin-colony-detail [data]="newItem" [(display)]="dialogNewItemIsShown" *ngIf="dialogNewItemIsShown"
                             (successDialog)="newItemCreated($event)"></admin-colony-detail>
    </ng-container>
</ng-container>
