<p-dialog [showHeader]="true" [(visible)]="display" (onHide)="hideDialog()" [modal]="true"
          [resizable]="false" [header]="getHeader() | async" appendTo="body" styleClass="animals"
          [style]="{'width': '98vw', 'max-width': '800px', 'max-height': '99vh'}">
    <form [formGroup]="form" *ngIf="form" class="p-col-12 p-col-nopad" (ngSubmit)="saveAndClose()" #animalForm>

        <p-tabView [(activeIndex)]="activeTab">
            <p-tabPanel header="{{ 'ANIMALS.TABS.Data' | translate }}">
                <admin-animal-detail-data [aliasInUse]="aliasInUse" [form]="form"
                                          *ngIf="activeTab == 0"></admin-animal-detail-data>
            </p-tabPanel>
            <p-tabPanel header="{{ 'ANIMALS.TABS.Photos' | translate }}">
                <admin-animal-detail-photos [form]="form" *ngIf="activeTab == 1"></admin-animal-detail-photos>
            </p-tabPanel>
        </p-tabView>


        <div class="p-dialog-buttonpane p-helper-clearfix">
            <button pButton type="button" label="{{'COMMON.BUTTONS.Cancel' | translate}}" icon="pi pi-times" class="button-cancel" (click)="cancel()"></button>

            <button pButton type="submit" label="{{'COMMON.BUTTONS.SaveClose' | translate}}" icon="pi pi-save" class="p-button-secondary"
            ></button>
        </div>
    </form>
</p-dialog>


<admin-block-ui-on-loading-request [service]="animalService"></admin-block-ui-on-loading-request>
