<div class="p-fluid p-formgrid p-grid">
    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('name')"
                      message="COMMON.LABELS.Name" [maxLength]="50"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('lastName')"
                      message="COMMON.LABELS.LastName" [maxLength]="100"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('alias')"
                      message="COMMON.LABELS.Alias" [maxLength]="2000"></admin-input-text>

    <admin-message class="p-col-12 alias-in-use" *ngIf="aliasInUse" [display]="true"
                   severity="error" [message]="'COMMON.VALIDATION.UserInUse' | translate"></admin-message>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('phone')"
                      message="COMMON.LABELS.Phone" [maxLength]="20"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('email')"
                      message="COMMON.LABELS.Email" [maxLength]="100"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('bankAccount')"
                      message="PERSONS.BankAccount" [maxLength]="100"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('idNumber')"
                      message="PERSONS.IdNumber" [maxLength]="100"></admin-input-text>

    <admin-colony-picker class="p-col-12 p-lg-12" [idParent]="form.get('id').value"
                         *ngIf="form.get('id').value"
                         [multiple]="true" [readonly]="readonly" [fieldMultiple]="form.get('colonies')" message="PERSONS.Colonies"></admin-colony-picker>

    <admin-textarea class="p-col-12 p-lg-8" [readonly]="readonly" [field]="form.get('notes')" message="COMMON.LABELS.Notes"></admin-textarea>

    <admin-checkbox class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('active')" message="COMMON.LABELS.Active"></admin-checkbox>

    <admin-checkbox class="p-col-12 p-lg-2" [readonly]="readonly || !form.get('id').value" [field]="form.get('markToDelete')" message="COMMON.LABELS.MarkToDelete"></admin-checkbox>

    <admin-input-text class="p-col-12" [readonly]="readonly" [field]="form.get('bankMatcher')"
                      message="PERSONS.BankMatcher" [maxLength]="500" *ngIf="isAdmin"></admin-input-text>

    <admin-checkbox class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('isMember')" message="PERSONS.IsMember"></admin-checkbox>

    <div  class="p-col-12 p-lg-10"></div>

    <ng-container *ngIf="form.get('isMember').value === true">
        <admin-date class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('memberFrom')"
                    message="PERSONS.MemberFrom"></admin-date>

        <admin-date class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('memberTo')"
                    message="PERSONS.MemberTo"></admin-date>

        <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="PERSONS.PaymentPeriodicity" enumClass="PaymentPeriodicity" [field]="form.get('paymentPeriodicity')"
                                   [readonly]="readonly"></admin-label-enum-dropdown>

        <admin-date class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('nextPayment')"
                    message="PERSONS.NextPayment"></admin-date>

    </ng-container>

</div>