<div class="p-field {{ field.disabled ? 'disabled' : ''}}">
    <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      <div class="center-text">
        <i *ngIf="field.value === true" class="ui-icon-check"></i>
        <i *ngIf="field.value !== true" class="ui-icon-close"></i>
      </div>
    </span>
    <div class="p-col-12" *ngIf="!readonly">
        <p-checkbox [formControl]="field" binary="true"></p-checkbox>
        <admin-validation-message [control]="field"></admin-validation-message>
    </div>

</div>
