<div class="p-col-12 p-lg-{{ uiSize }}">
  <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

  <div class="form-input {{ field.disabled ? 'disabled' : ''}}">
    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      {{ label }}
    </span>
    <ng-container *ngIf="!readonly">
      <admin-list-dropdown [field]="field" [listFunction]="listFunction"
                         (onChange)="onChange.emit($event)" [multiselect]="multiselect"
                         [displayChooseMessage]="displayChooseMessage" [limitedAvailableValues]="limitedAvailableValues"
      ></admin-list-dropdown>
      <admin-validation-message [control]="field"></admin-validation-message>
    </ng-container>
  </div>
</div>
