<form [formGroup]="form" *ngIf="form" (ngSubmit)="save()" class="p-col-12 p-col-nopad">
  <p-dialog header="{{getHeader() | async}}" [(visible)]="display" (onHide)="hideDialog()" [modal]="true"
            [style]="{'width': '98vw', 'max-width': '750px', 'max-height': '99vh'}"
            [resizable]="false">
    <p-tabView [(activeIndex)]="activeTab">
      <p-tabPanel header="{{ 'USERS.TABS.Data' | translate }}">
        <admin-user-detail-data [userInUse]="userInUse" [emailInUse]="emailInUse"
                                 [form]="form" *ngIf="activeTab === 0"></admin-user-detail-data>
      </p-tabPanel>
    </p-tabView>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button pButton type="submit" label="{{'COMMON.BUTTONS.Save' | translate}}" icon="ui-icon-save" [disabled]="true"></button>
        <button pButton type="button" label="{{'COMMON.BUTTONS.Cancel' | translate}}" icon="ui-icon-cancel"
                class="secondary"
                (click)="cancel()"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>

