<admin-setting-list [columns]="columns" [selectedColumns]="selectedColumns" [value]="entities"
                    [totalRecords]="totalRecords" (onLazyLoad)="paginate($event)"
                    [sortField]="sortField" [sortOrder]="sortOrder" [filters]="filters"
                    (onAdd)="showAddDialog()" (onEdit)="showEditDialog($event)" [withDeleteButton]="isAdmin"
                    [sortField]="sortField" [sortOrder]="sortOrder" (onSelect)="select($event)"
                    (onDelete)="delete($event, $event['alias'])">
    <ng-template #tableExtraButtons>
        <button type="button" [disabled]="!this.selectedEntity" pButton icon="pi pi-bell" (click)="readNotification(selectedEntity)"></button>
    </ng-template>
</admin-setting-list>

<admin-account-note-detail [data]="detailEntity" [(display)]="dialogIsShown" *ngIf="dialogIsShown"
                     (successDialog)="refreshData()"></admin-account-note-detail>
