<admin-setting-list [columns]="columns" [selectedColumns]="selectedColumns" [value]="entities"
                    [totalRecords]="totalRecords" (onLazyLoad)="paginate($event)"
                    [sortField]="sortField" [sortOrder]="sortOrder" [filters]="filters"
                    (onAdd)="showAddDialog()" (onEdit)="showEditDialog($event)" [withDeleteButton]="isAdmin"
                    (onSelect)="select($event)" [sortField]="sortField" [sortOrder]="sortOrder"
                    (onDelete)="delete($event, $event['alias'])">
</admin-setting-list>

<admin-trap-detail [data]="detailEntity" [(display)]="dialogIsShown" *ngIf="dialogIsShown"
                     (successDialog)="refreshData()"></admin-trap-detail>
