<admin-setting-list [columns]="columns" [selectedColumns]="selectedColumns" [value]="entities"
                    [totalRecords]="totalRecords" (onLazyLoad)="paginate($event)"
                    [sortField]="sortField" [sortOrder]="sortOrder" [filters]="filters"
                    (onAdd)="showAddDialog()" (onEdit)="showEditDialog($event)" [withDeleteButton]="isAdmin"
                    (onSelect)="select($event)" [sortField]="sortField" [sortOrder]="sortOrder"
                    (onDelete)="delete($event, $event['date'])">
    <ng-template #tableExtraButtons>
        <admin-enum-dropdown *ngIf="showListOfTypes" [displayChooseMessage]="false" enumClass="ActivityType" [(ngModel)]="selectedType"></admin-enum-dropdown>

        <button pButton type="button" label="{{'COMMON.BUTTONS.DownloadContract' | translate}}" icon="pi pi-download"
                *ngIf="selectedEntity && selectedEntity.type === ActivityType.ADOPTION"
                (click)="downloadAdoptionContract(selectedEntity)"></button>

    </ng-template>
</admin-setting-list>

<admin-activity-detail [data]="detailEntity" [(display)]="dialogIsShown" *ngIf="dialogIsShown" [readonlyType]="true"
                       (successDialog)="refreshData()"></admin-activity-detail>
