<admin-setting-list [columns]="columns" [value]="entities"
                    [totalRecords]="totalRecords" (onLazyLoad)="paginate($event)"
                    [sortField]="sortField" [sortOrder]="sortOrder" [filters]="filters"
                    (onAdd)="showAddDialog()" (onEdit)="showEditDialog($event)"
                    (onSelect)="select($event)" [sortField]="sortField" [sortOrder]="sortOrder"
                    (onDelete)="delete($event, $event['name'])">
</admin-setting-list>

<admin-tags-detail [data]="detailEntity" [(display)]="dialogIsShown" *ngIf="dialogIsShown"
                   (successDialog)="refreshData()"></admin-tags-detail>
