<div class="p-fluid p-formgrid p-grid">

    <admin-date class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('date')"
                message="ACCOUNT-NOTES.Date"></admin-date>

    <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="COMMON.LABELS.Type" enumClass="AccountType" [field]="form.get('type')"
                               [readonly]="this.readonly" [displayChooseMessage]="false"></admin-label-enum-dropdown>

    <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="COMMON.LABELS.Subtype" enumClass="AccountSubtype" [field]="form.get('subtype')"
                               [readonly]="this.readonly" [displayChooseMessage]="false"></admin-label-enum-dropdown>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('total')"
                      message="ACCOUNT-NOTES.Total" [maxLength]="20" [isCurrency]="true"></admin-input-text>

    <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('person')" message="ACCOUNT-NOTES.Person"></admin-person-picker>

    <admin-place-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('place')" message="PLACES.Title"></admin-place-picker>

    <admin-activity-picker class="p-col-12 p-lg-12" [multiple]="true" [readonly]="readonly" [fieldMultiple]="form.get('activities')"
                         message="ACCOUNT-NOTES.Activities"></admin-activity-picker>

    <admin-textarea rows="2" class="p-col-12 p-lg-8" [readonly]="readonly" [field]="form.get('notes')" message="COMMON.LABELS.Notes"></admin-textarea>

    <admin-checkbox *ngIf="form.get('id').value" class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('markToDelete')"
                    message="COMMON.LABELS.MarkToDelete"></admin-checkbox>

    <admin-checkbox *ngIf="form.get('id').value" class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('notification')"
                    message="COMMON.LABELS.Notification"></admin-checkbox>
</div>