<div class="p-col-12 p-lg-{{ uiSize }}">
  <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

  <div class="form-input {{ field.disabled ? 'disabled' : ''}}">
    <div class="p-col-12 nopad readonly-input" [innerHTML]="field.value" *ngIf="readonly">
    </div>
    <ng-container *ngIf="!readonly">
      <p-editor [formControl]="field" class="editor"></p-editor>
      <admin-validation-message [control]="field"></admin-validation-message>
    </ng-container>
  </div>
</div>



