<p-dialog [(visible)]="display" [resizable]="false" *ngIf="data && imageFileChanged" appendTo="body"
          (onHide)="hideDialog()" [modal]="true" [style]="{ 'width': '800px', 'height': '99%' }">
  <div class="ui-g ui-fluid">
    <div class="p-col-10">
      <image-cropper #imageCropper
                     [imageFileChanged]="imageFileChanged"
                     [imageBase64]="imageBase64"
                     [maintainAspectRatio]="maintainAspectRatio"
                     [outputType]="file"
                     [aspectRatio]="1 / 1"
                     [autoCrop]="false"
                     [cropperMinWidth]="50"
                     format="png"
                     (imageCropped)="imageCropped($event)"
                     (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    <div class="p-col-2">
      <button pButton class="secondary" type="button"
              label="{{'COMMON.BUTTONS.KeepRadio' | translate}}" icon="ui-icon-aspect-ratio"
              (click)="maintainAspectRatio = !maintainAspectRatio"></button>

      <button pButton class="secondary" type="button"
              label="{{'COMMON.BUTTONS.Rotate' | translate}}" icon="ui-icon-rotate-left"
              (click)="rotate(90)"></button>

      <button pButton class="secondary" type="button"
              label="{{'COMMON.BUTTONS.Rotate' | translate}}" icon="ui-icon-rotate-right"
              (click)="rotate(-90)"></button>

      <button pButton class="secondary" type="button"
              label="{{'COMMON.BUTTONS.Resize' | translate}}" icon="ui-icon-add-circle-outline"
              (click)="resize(0.1)"></button>

      <button pButton class="secondary" type="button"
              label="{{'COMMON.BUTTONS.Resize' | translate}}" icon="ui-icon-remove-circle-outline"
              (click)="resize(-0.1)"></button>

      <button pButton type="button" (click)="save()" label="{{'COMMON.BUTTONS.Save' | translate}}"
              icon="ui-icon-save"></button>
    </div>
  </div>


</p-dialog>


<admin-block-ui-on-loading-request [service]="storageService"></admin-block-ui-on-loading-request>
