<div class="p-col-12 p-lg-{{ uiSize }}">
  <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

  <div class="form-input {{ field.disabled ? 'disabled' : ''}}">
    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      TODO
    </span>
    <ng-container *ngIf="!readonly">
      <p-triStateCheckbox [formControl]="field"></p-triStateCheckbox>
      <admin-validation-message [control]="field"></admin-validation-message>
    </ng-container>
  </div>
</div>
