<admin-setting-list [columns]="columns" [value]="entities"
                    [totalRecords]="totalRecords" (onLazyLoad)="paginate($event)"
                    [sortField]="sortField" [sortOrder]="sortOrder" [filters]="filters"
                    (onEdit)="showEditDialog($event)" [withAddButton]="false" [withDeleteButton]="false"
                    (onSelect)="select($event)" [sortField]="sortField" [sortOrder]="sortOrder">
</admin-setting-list>

<admin-system-settings-detail [data]="detailEntity" [(display)]="dialogIsShown" *ngIf="dialogIsShown"
                              (successDialog)="refreshData()"></admin-system-settings-detail>
