<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<img [src]="src" [alt]="title" [title]="title" (error)="errorLoad()" (load)="endLoad()"
     *ngIf="photoIsFound; else photoNotFound">

<ng-template #photoNotFound>
  <img [alt]="src" [title]="src" src="/assets/layout/images/photo-not-found.png">
</ng-template>
