:host ::ng-deep .ui-progress-spinner {
  width: 100% !important;
  margin-top: 40% !important;
  height: 30px !important;
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
