<div class="p-col-12 p-lg-{{ uiSize }} select-button">
  <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

  <div class="form-input {{ field.disabled ? 'disabled' : ''}}">
    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      {{ getReadonlyLabel() }}
    </span>
    <ng-container *ngIf="!readonly">
      <p-selectButton (onChange)="changeAnswer($event.value)" [options]="options"
                      [formControl]="field"></p-selectButton>
      <admin-validation-message [control]="field"></admin-validation-message>
    </ng-container>
  </div>
</div>
