:host ::ng-deep .photo-panel img {
  display: block;
  width: 100px !important;
  height: 100px !important;
  width: auto;
  height: auto;
}

.photo-panel-container {
  padding: 5px;
}

.photo-panel {
  text-align: center;
  padding: 5px;
  border: 3px solid #CACACA;
  border-radius: 5px;
}

.button-disabled.ui-button {
  background-color: #CCCCCC !important;
}

.p-grid.buttons .p-col-2 {
  margin: 10px 10px 10px 0px;
}