<div class="p-fluid p-formgrid p-grid nopad" *ngIf="form">
    <div class="p-col-12 nopad" *ngIf="!readonly">
        <admin-file-upload *ngIf="form.photos.length < 10"
                           [auto]="true"
                           (error)="showError($event)"
                           (select)="selectFile()"
                           (upload)="addFile($event)"
                           class="p-col-4">
        </admin-file-upload>
    </div>
    <div class="p-col-12 nopad">
        <p-dataView #dv [value]="form.photos.controls" layout="grid" *ngIf="form.photos.length > 0">
            <ng-template let-photo let-idx="rowIndex" pTemplate="gridItem">
                <div class="p-col-3 photo-panel-container">
                    <div class="p-col-12 photo-panel">
                        <div class="p-col-12" [ngSwitch]="getFileType(photo)">
                           <ng-container *ngSwitchCase="'image'">
                               <admin-image-loader [src]="photo.get('url').value"></admin-image-loader>
                           </ng-container>
                            <ng-container *ngSwitchCase="'file'">
                                <img [alt]="photo.get('url')" [title]="photo.get('url')" src="/assets/layout/images/docs/logo_file.png">
                            </ng-container>
                            <ng-container *ngSwitchCase="'pdf'">
                                <img [alt]="photo.get('url')" [title]="photo.get('url')" src="/assets/layout/images/docs/logo_pdf.png">
                            </ng-container>
                            <ng-container *ngSwitchCase="'docx'">
                                <img [alt]="photo.get('url')" [title]="photo.get('url')" src="/assets/layout/images/docs/logo_docx.png">
                            </ng-container>
                        </div>
                        <div class="p-grid buttons" *ngIf="!readonly; else buttonsReadOnly">
                            <div class="p-col-1"></div>
                            <div class="p-col-2">
                                <button type="button" pButton icon="pi pi-trash" (click)="delete(idx)"></button>
                            </div>

                            <div class="p-col-2">
                                <button type="button" pButton icon="pi pi-cloud-download" (click)="viewFileNewWindow(photo)"></button>
                            </div>

                            <!--div class="p-col-2">
                                <button type="button" pButton icon="pi pi-file-o" (click)="viewFileNewWindow(photo)"></button>
                            </div-->

                        </div>

                        <ng-template #buttonsReadOnly>
                            <div class="p-grid">
                                <div class="p-col-2">
                                    <button type="button" pButton icon="pi pi-cloud-download" (click)="viewFileNewWindow(photo)"></button>
                                </div>

                                <!--div class="p-col-2">
                                    <button type="button" pButton icon="pi pi-file-o" (click)="viewFileNewWindow(photo)"></button>
                                </div-->
                            </div>

                        </ng-template>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>

<admin-photo-editor [data]="photoToEdit" [(display)]="displayPhotoEditor" (successDialog)="addCroppedImage($event)"
                    *ngIf="displayPhotoEditor"></admin-photo-editor>


<p-blockUI [blocked]="loading">
</p-blockUI>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>
