<p-dialog [showHeader]="true" [(visible)]="display" (onHide)="hideDialog()" [modal]="true"
          [resizable]="false" [header]="getHeader() | async" styleClass="account-notes" appendTo="body"
          [style]="{'width': '98vw', 'max-width': '700px', 'max-height': '99vh'}">
    <form [formGroup]="form" *ngIf="form" class="p-col-12 p-col-nopad" (ngSubmit)="saveAndClose()">

        <p-tabView [(activeIndex)]="activeTab">
            <p-tabPanel header="{{ 'ACCOUNT-NOTES.TABS.Data' | translate }}">
                <admin-account-note-detail-data [form]="form" [aliasInUse]="aliasInUse"
                                                *ngIf="activeTab == 0"></admin-account-note-detail-data>
            </p-tabPanel>
            <p-tabPanel header="{{ 'ACCOUNT-NOTES.TABS.Photos' | translate }}">
                <admin-account-note-detail-photos [form]="form" *ngIf="activeTab == 1"></admin-account-note-detail-photos>
            </p-tabPanel>
        </p-tabView>

        <div class="p-dialog-buttonpane p-helper-clearfix">
            <button pButton type="button" label="{{'COMMON.BUTTONS.Cancel' | translate}}" icon="pi pi-times" class="button-cancel" (click)="cancel()"></button>

            <button pButton type="submit" label="{{'COMMON.BUTTONS.SaveClose' | translate}}" icon="pi pi-save" class="p-button-secondary"></button>
        </div>
    </form>
</p-dialog>

<admin-block-ui-on-loading-request [service]="accountNoteService"></admin-block-ui-on-loading-request>
