<div class="p-fluid p-formgrid p-grid nopad">

    <div class="p-field p-col-12">
        <label>{{ 'LOCATION.Address' | translate }}</label>
        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText #googlePicker class="p-col-12 p-lg-12"
                       placeholder="Escribe una dirección..." autocomplete="pfvNew100"
                       appGooglePlacesAutocomplete [options]='options'
                       (onAddressChange)="onLocationSelected($event)"/>


            </span>
    </div>


    <admin-input-text class="p-col-10 p-lg-6" [readonly]="readonly" [field]="form.get('street')"
                      message="LOCATION.Street" [maxLength]="100"></admin-input-text>

    <admin-input-text class="p-col-2 p-lg-2" [readonly]="readonly" [field]="form.get('number')"
                      message="LOCATION.Number" [maxLength]="100"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('postalCode')"
                      message="LOCATION.PostalCode" [maxLength]="100"></admin-input-text>

    <button class="p-col-2" type="button" pButton icon="pi pi-external-link" (click)="viewNewWindow()"></button>


    <admin-municipality class="p-col-12 p-lg-6" [readonly]="readonly" [field]="form.get('municipalityId')"
                        message="LOCATION.Municipality"></admin-municipality>

    <admin-municipality-area class="p-col-12 p-lg-6" [readonly]="readonly" [field]="form.get('areaId')"
                             message="LOCATION.Area"></admin-municipality-area>

</div>