<ng-template ngFor let-child let-i="index" [ngForOf]="(root ? item : item.items)">
  <li [ngClass]="{'active-menuitem': isActive(i)}" *ngIf="child.visible === true" [class]="child.badgeStyleClass">
    <a [href]="child.url||'#'" (click)="itemClick($event,child,i)" *ngIf="!child.routerLink"
       [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target"
       (mouseenter)="onMouseEnter(i)" class="ripplelink">

      <i [ngClass]="child.icon" *ngIf="child.icon" class="layout-menuitem-icon"></i>
      <span class="menuitem-text">{{child.label | translate}}</span>
      <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="child.items"></i>
      <span class="menuitem-badge" *ngIf="child.badge">{{child.badge}}</span>
    </a>

    <a (click)="itemClick($event,child,i)" *ngIf="child.routerLink"
       [routerLink]="child.routerLink" routerLinkActive="active-menuitem-routerlink"
       [routerLinkActiveOptions]="{exact: true}" [attr.tabindex]="!visible ? '-1' : null" [attr.target]="child.target"
       (mouseenter)="onMouseEnter(i)" class="ripplelink">
      <i [ngClass]="child.icon" *ngIf="child.icon" class="layout-menuitem-icon"></i>
      <span class="menuitem-text">{{child.label | translate}}</span>
      <i class="pi pi-fw pi-angle-down layout-submenu-toggler" *ngIf="child.items"></i>
      <span class="menuitem-badge" *ngIf="child.badge">{{child.badge}}</span>
    </a>
    <ul submenu [item]="child" *ngIf="child.items && isActive(i)" [visible]="isActive(i)" [reset]="reset"
        [parentActive]="isActive(i)" [@children]="(app.isHorizontal())&&root ? isActive(i) ?
                    'visible' : 'hidden' : isActive(i) ? 'visibleAnimated' : 'hiddenAnimated'"></ul>
  </li>
</ng-template>
