<div class="layout-breadcrumb">
  <ul>
    <li>
      <a routerLink="">
        <i class="pi pi-home"></i>
      </a>
    </li>
    <li>/</li>
    <ng-template ngFor let-item let-last="last" [ngForOf]="items$ | async">
      <li>
        <a [routerLink]="item.url" *ngIf="item.active && !item.terminal">{{ item.displayName | translate }} {{ item.paramValue }}</a>
        <ng-container *ngIf="!item.active || item.terminal">{{ item.displayName | translate }} {{ item.paramValue }}</ng-container>
      </li>
      <li *ngIf="!last">/</li>
    </ng-template>
  </ul>
</div>
