<p-overlayPanel #infoPanel appendTo="body">
  {{ content }}
</p-overlayPanel>

<div class="info-panel-button material-icons ui-icon-info info icon-with-text" (mouseover)="infoPanel.show($event)" (mouseout)="infoPanel.hide()"></div>
