<div class="p-fluid p-formgrid p-grid">

    <admin-label-enum-dropdown class="p-col-12 p-lg-5" message="COMMON.LABELS.Type" enumClass="PlaceType" [field]="form.get('type')"
                               [readonly]="readonly || form.get('id').value"></admin-label-enum-dropdown>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('name')"
                      message="COMMON.LABELS.Name" [maxLength]="50"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('alias')"
                      message="COMMON.LABELS.Alias" [maxLength]="2000"></admin-input-text>

    <admin-message class="p-col-12 alias-in-use" *ngIf="aliasInUse" [display]="true"
                   severity="error" [message]="'COMMON.VALIDATION.UserInUse' | translate"></admin-message>

    <admin-input-text class="p-col-12 p-lg-6" [readonly]="readonly" [field]="form.get('phone')"
                      message="COMMON.LABELS.Phone" [maxLength]="20"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-6" [readonly]="readonly" [field]="form.get('email')"
                      message="COMMON.LABELS.Email" [maxLength]="100"></admin-input-text>

    <admin-textarea class="p-col-12 p-lg-8" [readonly]="readonly" [field]="form.get('notes')" message="COMMON.LABELS.Notes"></admin-textarea>

    <admin-checkbox class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('active')" message="COMMON.LABELS.Active"></admin-checkbox>

    <admin-checkbox *ngIf="form.get('id').value" class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('markToDelete')" message="COMMON.LABELS.MarkToDelete"></admin-checkbox>
</div>