<div class="p-field {{ field.disabled ? 'disabled' : ''}}">
    <label class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      {{ field.value }}
    </span>

    <p-autoComplete *ngIf="!readonly" [class]="class != '' ? class : null" [forceSelection]="true" #autocompleteElement
                    [(ngModel)]="area" [delay]="100" [suggestions]="areas" (onClear)="clear()"
                    (onSelect)="areaSelected($event)" field="label" [dropdown]="true" appendTo="body"
                    (completeMethod)="searchAreas($event)" [minLength]="1"></p-autoComplete>
    <admin-validation-message [control]="field"></admin-validation-message>
</div>
