<div class="p-fluid p-formgrid p-grid" *ngIf="form">
    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('name')"
                      message="COMMON.LABELS.Name" [maxLength]="50"></admin-input-text>

    <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('person')" message="COLONIES.Person"></admin-person-picker>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="true" [field]="form.get('alias')"
                      message="COMMON.LABELS.Alias" [maxLength]="2000"></admin-input-text>

    <admin-message class="p-col-12 alias-in-use" *ngIf="aliasInUse" [display]="true"
                   severity="error" [message]="'COMMON.VALIDATION.UserInUse' | translate"></admin-message>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('totalAnimals')"
                      message="COLONIES.TotalAnimals" [maxLength]="3" [isInteger]="true"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('totalNeuteredAnimals')"
                      message="COLONIES.TotalNeuteredAnimals" [maxLength]="3" [isInteger]="true"></admin-input-text>

    <admin-date class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('initDate')"
                message="COLONIES.InitDate"></admin-date>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('totalFemaleAnimals')"
                      message="COLONIES.TotalFemaleAnimals" [maxLength]="3" [isInteger]="true"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('totalNeuteredFemaleAnimals')"
                      message="COLONIES.TotalNeuteredFemaleAnimals" [maxLength]="3" [isInteger]="true"></admin-input-text>

    <admin-textarea class="p-col-12 p-lg-8" [readonly]="readonly" [field]="form.get('notes')" message="COMMON.LABELS.Notes"></admin-textarea>

    <admin-checkbox class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('active')" message="COMMON.LABELS.Active"></admin-checkbox>

    <admin-checkbox *ngIf="form.get('id').value" class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('markToDelete')"
                    message="COMMON.LABELS.MarkToDelete"></admin-checkbox>
</div>
