<p-fileUpload
  [mode]="mode"
  [disabled]="disabled"
  [auto]="auto"
  [maxFileSize]="maxFileSize"
  [customUpload]="true"
  (onSelect)="selectFile($event)"
  (uploadHandler)="handleUpload($event, fileUpload)"
  chooseLabel="{{'COMMON.UPLOADS.Choose' | translate }}"
  invalidFileSizeMessageSummary="{{'COMMON.UPLOADS.MaxFileSizeSummary' | translate }}"
  invalidFileSizeMessageDetail="{{'COMMON.UPLOADS.MaxFileSizeDetail' | translate }}"
  invalidFileTypeMessageSummary="{{'COMMON.UPLOADS.MaxFileTypeSummary' | translate }}"
  invalidFileTypeMessageDetail="{{'COMMON.UPLOADS.MaxFileTypeDetail' | translate }}"
  #fileUpload>

  <ng-template pTemplate="toolbar">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
  </ng-template>

  <ng-template pTemplate="content">
    <ng-content></ng-content>
  </ng-template>

</p-fileUpload>

<ng-container *ngIf="mode === fileUploadMode.Basic">
  <ng-container *ngIf="uploadFile">
    <p-progressBar *ngIf="uploadFile.progress && (uploadFile.progress >= 0 && uploadFile.progress < 100)" [value]="uploadFile.progress">
    </p-progressBar>
    <p *ngIf="uploadFile.progress === 100">
      <i class="fa-cloud-download"></i>
    </p>
  </ng-container>
</ng-container>
