<div class="p-col-12 p-lg-{{ uiSize }}">
  <label *ngIf="message" class="form-label">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>

  <div class="form-input {{ field.disabled ? 'disabled' : ''}}">
    <span class="p-col-12 nopad readonly-input" *ngIf="readonly">
      {{ field.value }}
    </span>

    <p-spinner *ngIf="!readonly" [formControl]="field" [min]="min" [max]="max"></p-spinner>

    <admin-validation-message *ngIf="withMessage" [control]="field"></admin-validation-message>
  </div>
</div>
