<div class="p-fluid p-formgrid p-grid">
    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('name')"
                      message="COMMON.LABELS.Name" [maxLength]="50"></admin-input-text>

    <!--admin-label-enum-dropdown class="p-col-12 p-lg-2" message="COMMON.LABELS.Type" enumClass="AnimalType" [field]="form.get('type')"
                               [readonly]="readonly" [displayChooseMessage]="false"></admin-label-enum-dropdown-->

    <admin-input-text class="p-col-12 p-lg-4" [readonly]="readonly" [field]="form.get('alias')"
                      message="COMMON.LABELS.Alias" [maxLength]="2000"></admin-input-text>


    <admin-label-enum-dropdown class="p-col-12 p-lg-4" message="ANIMALS.Status" enumClass="AnimalStatus" [field]="form.get('animalStatus')"
                               [readonly]="readonly"></admin-label-enum-dropdown>

    <admin-message class="p-col-12 alias-in-use" *ngIf="aliasInUse" [display]="true"
                   severity="error" [message]="'COMMON.VALIDATION.UserInUse' | translate"></admin-message>

    <admin-date class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('birthDate')"
                message="ANIMALS.BirthDate"></admin-date>

    <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="ANIMALS.Gender" enumClass="Gender" [field]="form.get('gender')"
                               [readonly]="readonly" [displayChooseMessage]="false"></admin-label-enum-dropdown>

    <admin-label-enum-dropdown class="p-col-12 p-lg-3" message="ANIMALS.Color" enumClass="Color" [field]="form.get('color')"
                               [readonly]="readonly" [displayChooseMessage]="true"></admin-label-enum-dropdown>


    <admin-tricheckbox class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('neutered')" message="ANIMALS.Neutered"></admin-tricheckbox>

    <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('owner')" message="ANIMALS.Owner"></admin-person-picker>

    <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('keeper')" message="ANIMALS.Keeper"></admin-person-picker>

    <admin-person-picker class="p-col-12 p-lg-4" [readonly]="readonly" [aliasLabelIdFormGroup]="form.get('adopter')" message="ANIMALS.Adopter"></admin-person-picker>

    <admin-textarea class="p-col-12 p-lg-8" [readonly]="readonly" [field]="form.get('notes')" message="COMMON.LABELS.Notes"></admin-textarea>

    <admin-checkbox class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('active')" message="COMMON.LABELS.Active"></admin-checkbox>

    <admin-checkbox *ngIf="form.get('id').value" class="p-col-12 p-lg-2" [readonly]="readonly" [field]="form.get('markToDelete')"
                    message="COMMON.LABELS.MarkToDelete"></admin-checkbox>
</div>