<form [formGroup]="form" *ngIf="form" (ngSubmit)="save()" class="p-col-12 p-col-nopad">
  <p-dialog header="{{getHeader() | async}}" [(visible)]="display" (onHide)="hideDialog()" [modal]="true"
            [resizable]="false" [style]="{'width': '600px'}">
    <div class="ui-g ui-fluid nopad">
      <div class="p-col-12 nopad">
        <admin-input-text [field]="form.get('name')" [maxLength]="100" message="SETTINGS.TAGS.Name"
                        [uiSize]="6"></admin-input-text>
      </div>

      <div class="p-col-12 nopad">
        <admin-input-text [field]="form.get('terms')" message="SETTINGS.TAGS.Terms" [uiSize]="12"></admin-input-text>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button pButton type="submit" label="{{'COMMON.BUTTONS.Save' | translate}}" icon="ui-icon-save"></button>
        <button pButton type="button" label="{{'COMMON.BUTTONS.Cancel' | translate}}" icon="ui-icon-cancel"
                class="secondary"
                (click)="cancel()"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>

