<div class="p-field {{ field.disabled ? 'disabled' : ''}}">
    <label *ngIf="message">{{ message | translate }}&nbsp;{{ required ? '*' : '' }}</label>


    <input *ngIf="!isPassword && !isCurrency && !isInteger" [readOnly]="readonly"
           [maxlength]="maxLength === 0 ? null : maxLength" pInputText [autocomplete]="autocomplete" #inputElement
           [formControl]="field" [placeholder]="placeholder ? placeholder : ''">

    <p-inputNumber *ngIf="isCurrency" [formControl]="field" [maxlength]="10" readOnly="readonly" mode="currency" currency="EUR" locale="es-ES"></p-inputNumber>

    <p-inputNumber *ngIf="isInteger" [formControl]="field" readOnly="readonly"></p-inputNumber>

    <admin-validation-message [control]="field"></admin-validation-message>
</div>
