/* You can add global styles to this file, and also import other style files */
@import './../theme/theme-bluegrey-compact.scss';

.layout-sidebar {
  overflow: hidden !important;
}

.nopad {
  padding: 0px;
}

.card, .p-tabview {
  margin: auto auto 10px;
}

.center-text {
  text-align: center;
}

.p-tabview .p-tabview-panels {
  padding: 15px;
}

.p-dialog .p-dialog-content {
  padding: 0px;
}

.p-field label {
  text-transform: uppercase;
  color: #757575;
  font-size: 80%;
}

.p-progress-spinner {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  z-index: 9999999 !important;
}

.validation-error {
  font-size: normal;
  padding-bottom: 10px;
}

.readonly-input {
  border-bottom: 1px dotted #757575;
  color: #757575;
  min-height: 21px;
}

.span-button {
  cursor: pointer;
  font-weight: bolder;
  color: $primaryColor;
}

.p-dialog .p-dialog-header {
  padding: 8px;
}

.animals.p-dialog .p-dialog-header {
  background-color: #bce3e1;
}

.places.p-dialog .p-dialog-header {
  background-color: #E0F7FA;
}

.persons.p-dialog .p-dialog-header {
  background-color: #FFFDE7;
}

.account-notes.p-dialog .p-dialog-header {
  background-color: #81c3f8;
}

.activities.p-dialog .p-dialog-header {
  background-color: #EDE7F6;
}

.colonies.p-dialog .p-dialog-header {
  background-color: #d8ecc2;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 100%;
  text-transform: uppercase;
}

input, .p-dropdown, .p-calendar, .p-autocomplete-dropdown.p-button, .p-multiselect-label {
  height: 30px !important;
}

.p-dropdown-label.p-inputtext, .p-multiselect-label {
  padding-top: 6px !important;
}

.pac-container { z-index: 555555 !important; }

.p-toast {
  z-index: 99999999999 !important;
}

.p-dialog-buttonpane  {
  padding: 10px;
  text-align: right;
}

.button-cancel {
  float: left;
}

.p-progress-spinner {
  position: absolute !important;
  top: 0vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
  z-index: 100000000 !important;
}

.positive {
  font-weight: bold;
  color: #689F38;
}

.negative {
  font-weight: bold;
  color: #B00020;
}

.picker-selected {
  text-decoration: underline;
}

.alias-in-use {
  text-align: center;
}

.p-button.p-button-icon-only {
  margin-right: 5px;
}

.p-button {
  width: auto !important;
  margin-left: 5px !important;
}

.p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container .p-autocomplete-token {
  padding: 2px !important;
}

.p-autocomplete-input-token, .p-autocomplete-multiple-container.p-component.p-inputtext {
  padding: 0px 4px 0px 4px !important;
}

.layout-wrapper .layout-sidebar {
  z-index: 999 !important;
}
.layout-wrapper .layout-topbar {
  z-index: 998 !important;
}


.p-inline-message.p-inline-message-error {
  padding: 5px;
  text-align: center;
  margin-left: 8px;
}

.margin-top-17 .p-inline-message.p-inline-message-error {
  margin-top: -17px;
}
