/* You can add global styles to this file, and also import other style files */
@import './../theme/theme-bluegrey.scss';


.card, .p-tabview {
  // max-width: 1050px;
  margin: auto;
  margin-bottom: 10px;
}

.topbar-menu > li.profile-item {
  float: right !important;
  margin-left: 10px !important;
  padding-top: 9px !important;

  a .profile-name {
    margin-top: -20px !important;
  }
}

.center-text {
  text-align: center;
}

.md-inputfield {
  input:focus ~ label,
  input.p-state-filled ~ label,
  .p-inputwrapper-focus ~ label,
  .p-inputwrapper-filled ~ label {
    color: #FF00AA;
  }
}
.buttons-bar {
  .p-button {
    width: auto !important;
  }

  .p-button-text {
    padding: 0px !important;
  }
}

form .p-inputtext {
  color: $accentTextColor !important;
}

.p-message-icon {
  color: #FFFFFF !important;
}

.p-toast-detail {
  white-space: pre-line;
}

.p-dialog-content.p-widget-content, .p-dialog-footer.p-widget-content {
  background-color: white !important;
}

.p-dialog-footer.p-widget-content {
  padding: 0.5em;
}

body .p-paginator {
  padding: 6px 10px 6px 10px;

  .p-dropdown, .p-paginator-pages, .p-paginator-prev, .p-paginator-next, .p-paginator-first, .p-paginator-last {
    margin-top: 3px;
    min-width: auto !important;
  }

  .p-paginator-right-content {
    margin-top: 6px;
  }

  .p-dropdown {
    height: auto !important;
  }

  .p-paginator-pages .p-paginator-page {
    height: auto;
    min-width: auto;
    line-height: 1.5em;
    border-radius: 1em;
  }
}

.p-dropdown {
  padding-bottom: 1px !important;
}

body .p-table .p-table-caption {
  background-color: transparent;
  text-align: left;
  border: none;
  padding: 0px;

  .p-inputtext {
    background-image: linear-gradient(to bottom, $primaryColor, $primaryColor), linear-gradient(to bottom, $emphasis-low, $emphasis-low);
  }
}
.p-dropdown .p-dropdown-clear-icon {
  right: 1.4em;
  font-size: 1em;
}

body .p-table .p-sortable-column a, body .p-table .p-sortable-column a:hover {
  margin-left: 4px;
}

body .p-button.p-button-icon-only {
  width: 2em;
  height: 2em;
  margin-right: 3px;
}

.form-label {
  text-transform: uppercase;
  color: #757575;
  font-size: 80%;
}

.form-input {
  margin-top: 5px;
}

textarea {
  width: 99% !important;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}


.dossier-form .form-input.disabled, .readonly-input {
  border-bottom: 1px dotted #757575;
  color: #757575;
  min-height: 21px;

  .p-dropdown {
    border-bottom: none;
    opacity: 1;

    .p-dropdown-label {
      color: #757575;
    }
  }
}

.app-tabs .p-tabview .p-tabview-panel, .app-tabs .p-widget-content {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.app-tabs .p-tabview.p-tabview-top > .p-tabview-nav {
  margin-bottom: 15px;
  box-sizing: border-box;
  border-bottom: none !important;
}

.p-dataview .p-dataview-header, .p-dataview .p-dataview-content {
  border: 0px !important;
}

.p-dataview-header {
  height: 0px;
}

.p-toast {
  z-index: 99999999999 !important;
}

.p-toast {
  z-index: 99999999999 !important;
}

.layout-wrapper {
  .layout-sidebar {
    z-index: 999 !important;
  }

  .layout-topbar {
    z-index: 998 !important;
  }
}

.p-widget-overlay {
  /* color: transparent; */
}

.p-calendar .p-calendar-button {
  position: absolute;
}

.layout-wrapper .layout-main .layout-content {
  padding-bottom: 0px !important;
}

.p-progress-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.layout-wrapper .layout-sidebar .layout-menu li > a > .menuitem-text {
  max-width: 180px;
}

.imgchat {
  width: 80px !important;
}

.imgchat-small {
  width: 20px !important;
  float: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

.float-left {
  float: left;
  padding: 0px;
  margin: 0px;
}

.chat-messages li span {
  max-width: 90%;

  img {
    max-width: 100%;
  }
}
