<div class="p-fluid p-formgrid p-grid">
    <admin-input-text class="p-col-12 p-lg-3" [field]="form.get('username')"
                    message="USERS.Username" [maxLength]="50" [readonly]="!(admin || newUser)" [uiSize]="3"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [field]="form.get('password')"
                    message="USERS.Password" [maxLength]="20" *ngIf="newUser" [uiSize]="3"></admin-input-text>

    <div class="p-col-12 p-lg-3" *ngIf="!newUser"></div>

    <admin-checkbox class="p-col-12 p-lg-2" [field]="form.get('active')" *ngIf="admin || admin" message="COMMON.LABELS.Active" [uiSize]="1"></admin-checkbox>

    <admin-label-enum-dropdown class="p-col-12 p-lg-4" [field]="form.get('roles')" enumClass="Role" [multiselect]="true" *ngIf="admin || admin" [readonly]="!(admin)"
                             message="USERS.Roles" [uiSize]="5"></admin-label-enum-dropdown>


  <div class="p-col-12 nopad" *ngIf="userInUse">
    <admin-message [display]="true" severity="error" [message]="'COMMON.VALIDATION.UserInUse' | translate"></admin-message>
  </div>

  <div class="p-col-12 nopad" *ngIf="emailInUse">
    <admin-message [display]="true" severity="error" [message]="'COMMON.VALIDATION.EmailInUse' | translate"></admin-message>
  </div>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('name')"
                    message="COMMON.LABELS.Name" [maxLength]="50" [uiSize]="3"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('lastName')"
                    message="COMMON.LABELS.LastName" [maxLength]="50" [uiSize]="3"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('phone')"
                    message="COMMON.LABELS.Phone" [maxLength]="20" [uiSize]="2"></admin-input-text>

    <admin-input-text class="p-col-12 p-lg-3" [readonly]="readonly" [field]="form.get('email')" message="COMMON.LABELS.Email" [maxLength]="100" [uiSize]="4"></admin-input-text>
</div>
